body {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: whitesmoke;
}

/* colors used for the game components */
:root {
  --color-1: #ff0000;
  --color-2: #000000;
  --color-3: #e7e7e7;
  --color-4: #2b547a;
  --color-5: #3d0d3d;
  --color-6: #4f128b;
  --color-7: #00c210;
}
.start-button,
.retry {
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 1s;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  cursor: pointer;
}
.display-none {
  display: none !important;
}
.controls,
.game-over-screen {
  display: flex;
  flex-direction: column;
}
.up,
.down {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  transform: 1s;
}
.up:hover,
.down:hover {
  background-color: #0f0f0f;
  color: whitesmoke;
}
button:focus {
  outline: none;
}
canvas {
  border: 1px solid #d3d3d3;
  min-width: 300px;
  max-width: 600px;
}
.game-over-screen {
  z-index: 12;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 400px;
  height: 400px;
  background-color: #ffffffc5;
}
